.container {
    border-bottom: 1px lightgray solid;
    padding-top: 30px;
    padding-bottom: 10px;
}

.btn {
    padding: 0 10px!important;
    background: transparent!important;
    border: none!important;
}

.title {
    font-size: 18px;
    font-weight: bold;
}